/* 
    Document   : base-style
    Created on : 2013-04-27, 21:51:57
    Author     : laurent
    Description:
        Purpose of the stylesheet follows.
*/
@charset "UTF-8";

#h { background-color: #086FA1 }
body {
    background-color: #235D79 }
#x{ 
    background-color: #034769 }
#header {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background-color: #3CA0D0;
    height: 50px;
    margin-bottom: 0px;

}
#menu{
    margin-top: 0px;
    border-right:  3px solid #FFFFFF;
    border-bottom:   3px solid #FFFFFF;
    width: 225px;
    height: 150px;
    background-color: #63ADD0;
    float: left;
}
#menu #nav {
    
    list-style-type: none;
}




