<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2021 Laurent

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->


<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
    <comment>this properties file is intended to store blog-engine
        properties during test phase
    </comment>
    <!-- Test data source location -->
    <entry key="datasource.xml">blog.xml</entry>

    <!-- test data source  definition location -->
    <entry key="datasource.xsd">blog.xsd</entry>

    <!-- Test mode is toggled during tests execution process
         it is used to tell File Managent wheter it need to "persist" file
    -->
    <entry key="application.mode">test</entry>
    <entry key="log.level">INFO</entry>
    <entry key="file.encoding">UTF-8</entry>

    <!-- Used to enable full-logging -->
    <entry key="application.debug">On</entry>
    <!-- xpath version -->
    <entry key="xpath.version">1.0</entry>

    <!-- Test data definition ==================== -->


    <!-- Model data definition DATA START -->

    <!-- Category with description -->
    <entry key="category.with.description.name">xxx</entry>
    <entry key="category.with.description.description">Jokes de cul</entry>

    <entry key="category.with.known.hascode.name">Philo</entry>
    <entry key="category.with.known.hascode.description">Philo Articles</entry>

    <entry key="category.with.description.notSameCat.name">cccc</entry>
    <entry key="category.with.description.notSameCat.description">Jokes</entry>
    <!-- Category without description -->

    <entry key="category.without.discription.name.no.spec.char">recettes</entry>
    <entry key="category.without.discription.name.spec.char">recetté</entry>
    <entry key="category.without.discription.name.spec.char.expected">recett</entry>


    <!--Entry without resume and comments permitted-->

    <entry key="entry.without.resume.date">2004-09-09</entry>
    <entry key="entry.without.resume.catID">ID_435</entry>
    <entry key="entry.without.resume.text">EntryText</entry>
    <entry key="entry.without.resume.allowComment">true</entry>

    <!--Entry without resume and comments  not permitted-->

    <entry key="entry.without.resume.nocomment.date">2004-09-09</entry>
    <entry key="entry.without.resume.nocomment.catID">ID_435</entry>
    <entry key="entry.without.resume.nocomment.text">EntryText</entry>
    <entry key="entry.without.resume.nocomment.allowComment">false</entry>


    <!--Entry with resume and comments permitted-->

    <entry key="entry.with.resume.date">2004-09-09</entry>
    <entry key="entry.with.resume.catID">ID_435</entry>
    <entry key="entry.with.resume.text">EntryText</entry>
    <entry key="entry.with.resume.allowComment">true</entry>
    <entry key="entry.with.resume.resume">Resume</entry>


    <!--Entry with resume and comments  not permitted-->

    <entry key="entry.with.resume.nocomment.date">2004-09-09</entry>
    <entry key="entry.with.resume.nocomment.catID">ID_435</entry>
    <entry key="entry.with.resume.nocomment.text">EntryText</entry>
    <entry key="entry.with.resume.nocomment.allowComment">false</entry>

    <!--Entry with resume and comments permitted with no Text or catID (for equals() method)-->


    <entry key="entry.with.resume.notextnocat.date">Mon Nov 23 00:00:00 EST 2009</entry>
    <entry key="entry.with.resume.notextnocat.allowComment">true</entry>
    <entry key="entry.with.resume.notextnocat.resume">Resume</entry>

    <entry key="entry.with.resume.notext.date">Mon Nov 23 00:00:00 EST 2009</entry>
    <entry key="entry.with.resume.notext.allowComment">true</entry>
    <entry key="entry.with.resume.notext.resume">Resume</entry>
    <entry key="entry.with.resume.notext.catID">ID_435</entry>

    <entry key="comment.with.knownID.entryID">ID_152369776</entry>
    <entry key="comment.with.knownID.ID">ID_1508540048</entry>
    <entry key="comment.with.knownID.date">Mon Nov 23 00:00:00 EST 2009</entry>
    <entry key="comment.with.knownID.author">Mike</entry>
    <entry key="comment.with.knownID.page">no page</entry>
    <entry key="comment.with.knownID.text">Hi Hi</entry>


    <!-- Model data definition DATA END -->

    <!-- Search engine test data  -->
    <entry key="search.entry.for.cat">ID_1222333</entry>
    <entry key="search.entry.for.date">2004-09-09</entry>
    <entry key="search.entry.for.ID">ID_152369776</entry>
    <entry key="search.entry.for.nonexistantID">ID_126333</entry>

    <!-- === Data for controllers test Start 2004-09-09 === -->

    <entry key="controllers.entrycontroller.entry.date">2004-09-09</entry>
    <entry key="controllers.entrycontroller.entry.text">test entry !</entry>
    <entry key="controllers.entrycontroller.entry.catID">ID_1222333</entry>
    <entry key="controllers.entrycontroller.entry.resume">feed</entry>
    <entry key="controllers.entrycontroller.entry.allowComment">false</entry>
    <!-- === Data for controllers test END === -->

</properties>
